@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Plugins.Connector.Models.ResetPasswordModel>
@using Umbraco.Plugins.Connector.Models
@using Umbraco.Plugins.Connector.Controllers
@{
    Layout = "totalCodeLayout.cshtml";
    ViewBag.Title = Umbraco.GetDictionaryValue("[Reset]ChangePassword", "Change Password");

    TenantPreferences preferences = Model.Preferences;
    var currencies = Model.Currencies;
    var defaultLanguage = Model.DefaultLanguage;
    var currentLanguage = Model.CurrentLanguage.TwoLetterISOLanguageName;
    var currentLanguageLocalization = Model.CurrentLanguage.ISOLanguangeName;
    var confirmationData = (ResetPasswordViaEmailController.ConfirmationData)ViewData["ConfirmationData"];
}
<input type="hidden" value="true" name="preventReload" />
<div class="popup-default registration-step default-offset zoom-anim-dialog" id="verificat-code-email-done">
    <form id="change-password-email">
        @Html.AntiForgeryToken()
        <input type="hidden" name="tenantUid" value="@Model.TenantUid" />
        <input type="hidden" name="language" value="@currentLanguage" />
        <input type="hidden" name="username" value="@confirmationData.Username" />
        <input type="hidden" name="code" value="@Request.Url.AbsoluteUri" />
        <h3 class="heading-popup">@Umbraco.GetDictionaryValue("[Reset]ChangePassword", "Change Password")</h3>
        <div class="height-36"></div>
        <div class="item--input-label">
            <div class="item--label">
                <label for="account-newpass-forgot-password">@Umbraco.GetDictionaryValue("[Forgot]NewPassword", "New Password")</label>
            </div>
            <div class="item--input">
                <input id="account-newpass-forgot-password-email" name="password" type="password" required placeholder="@Umbraco.GetDictionaryValue("[Register]PasswordPlaceholder", "***********" )" class="validate-target" data-validate-expression="@preferences.Security.Password.Validation" data-validation-message="error-message-newpass-email" data-no-value="valid-error-newpass-email">
                <span class="valid-error valid-error-newpass-email" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Password", "Password")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsMandatory", " is required")</span>
                <span class="error-message error-message-newpass-email" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Password", "Password")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsInvalid", " is invalid")</span>
            </div>
        </div>
        <div class="item--input-label">
            <div class="item--label">
                <label for="account-confirm-pass-forgot-password-email">@Umbraco.GetDictionaryValue("[Forgot]ConfirmNewPassword", "Confirm New Password")</label>
            </div>
            <div class="item--input">
                <input id="account-confirm-pass-forgot-password-email" type="password" required placeholder="@Umbraco.GetDictionaryValue("[Register]PasswordPlaceholder", "***********" )" class="validate-target" data-validate-expression="" data-validation-message="error-message-confirm-newpass-email" data-no-value="valid-error-confirm-newpass-email">
                <span class="valid-error valid-error-confirm-newpass-email" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Password", "Password")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsMandatory", " is required")</span>
                <span class="error-message error-message-confirm-newpass-email" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Password", "Password")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsInvalid", " is invalid")</span>
                <span class="password-nomatch-email" style="display:none;">@Umbraco.GetDictionaryValue("[Register]PasswordDoesNotMatch", "Passwords do not match")</span>
            </div>
        </div>
        <div class="item--input-label">
            <a class="popup popup-button button validate" href="#popup-login" data-method="changePasswordEmail" data-form="change-password-email">@Umbraco.GetDictionaryValue("[Reset]ChangePassword", "Change Password")</a>
        </div>
        <div class="item--input-label text-center">
            <div class="response-success" style="display:none;">@Umbraco.GetDictionaryValue("[Reset]ResetPasswordSuccess", "New password has been set, you may login.")</div>
            <div class="response-failure" style="display:none;">@Umbraco.GetDictionaryValue("[Reset]ResetPasswordFailure", "Error resetting your password")</div>
        </div>
    </form>
</div>
