@inherits Umbraco.Web.Mvc.UmbracoViewPage<TotalCode.Core.Models.Pages.TransactionHistoryPageViewModel>
@{
    Layout = "totalCodeLayout.cshtml";
}


<section class="black-main" ng-controller="transactionAllFilterController as vm" ng-init="vm.viewPort = 'desktop'">
    <div class="left-sidebar">
        @Html.Partial("_TotalCodeAccountMenu")
    </div>
    <div class="main-container">
        <div class="heading--main-container">
            <h1 class="black-main--head">@Model.Title</h1>
            <div class="filter-button--wrapper" id="filter-button--wrapper">
                <button class="button filter-button" id="filter-open" ng-disabled="!vm.ready">@Umbraco.GetDictionaryValue("[TransactionHistory]Filter", "Filter")<span class="filter-button__count" ng-cloak>{{ vm.filterCount }}</span></button>
                <div class="filter-hidden">
                    <form action="">
                        <input type="hidden" name="tenantUid" value="@Model.TenantUid" />
                        <div class="filter-hidden--items">
                            <p class="status-filter">@Umbraco.GetDictionaryValue("[TransactionHistory]Type", "Type")</p>
                            <div class="checkout-status">
                                <div class="checkout-status--items">
                                    <label class="checkbox-static">
                                        <input class="checkbox-static--input" type="checkbox" checked ng-model="vm.types.deposit" required="">
                                        <p class="checkbox-static--text">@Umbraco.GetDictionaryValue("[TransactionHistory]Deposit", "Deposit")</p>
                                    </label>
                                </div>
                                <div class="checkout-status--items">
                                    <label class="checkbox-static">
                                        <input class="checkbox-static--input" type="checkbox" checked ng-model="vm.types.withdraw" required="">
                                        <p class="checkbox-static--text">@Umbraco.GetDictionaryValue("[TransactionHistory]Withdraw", "Withdraw")</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="filter-hidden--items">
                            <div class="filter-date">
                                <div class="filter-date--items">
                                    <div class="item--label">
                                        <label class="default-label" for="start-date">@Umbraco.GetDictionaryValue("[TransactionHistory]StartDate", "Start Date")</label>
                                    </div>
                                    <div class="item--input">
                                        <input class="filter-date datapicker input-black" id="start-date" type="text">
                                    </div>
                                </div>
                                <div class="filter-date--items">
                                    <div class="item--label">
                                        <label class="default-label" for="end-date">@Umbraco.GetDictionaryValue("[TransactionHistory]EndDate", "End Date")</label>
                                    </div>
                                    <div class="item--input">
                                        <input class="filter-date datapicker input-black" id="end-date" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-hidden--items">
                            <div class="filter-buttons">
                                <button class="button send-button" type="button"
                                        ng-class="{'disabled' : vm.processing}"
                                        ng-disabled="vm.processing"
                                        ng-click="vm.applyFilters()">
                                    @Umbraco.GetDictionaryValue("[TransactionHistory]ApplyFilters", "Apply Filters")
                                </button>
                                <div class="mt-10" ng-show="vm.processing">
                                    @if (TempData["FormSpinnerImage"] != null)
                                    {
                                        <img src="@TempData["FormSpinnerImage"]" />

                                    }
                                    else
                                    {
                                        <img src="~/Media/img/tail-spin.svg" />
                                    }
                                </div>
                                <button class="reset" type="button" ng-click="vm.resetFilters()">@Umbraco.GetDictionaryValue("[TransactionHistory]ResetFilters", "Reset Filters")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mobile-filter"><a class="open-popup button filter-button button-filter--mobile" rel="modal:open" href="#popup-trnfilter--mobile">@Umbraco.GetDictionaryValue("[TransactionHistory]Filter", "Filter")</a></div>
        <div class="table-history--wrapper">
            <table class="table-history" id="tableHistory" ng-controller="allTransactionHistoryTableController as vm" ng-cloak>
                <thead>
                    <tr>
                        <th width="100">@Umbraco.GetDictionaryValue("[TransactionHistory]Type", "Type")</th>
                        <th width="90">@Umbraco.GetDictionaryValue("[TransactionHistory]DateAndTime", "Date and Time")</th>
                        <th width="96">@Umbraco.GetDictionaryValue("[TransactionHistory]Amount", "Amount")</th>
                        <th width="92">@Umbraco.GetDictionaryValue("[DepositHistory]Method", "Method")</th>
                        <th width="92">@Umbraco.GetDictionaryValue("[TransactionHistory]Status", "Status")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="transaction in vm.transactions | orderBy: '-TransactionDate'">
                        <td>{{ transaction.TypeDictionary }}</td>
                        <td class="date-format">{{ transaction.FormattedDate }}</td>
                        <td>{{ transaction.TransactionAmount}}</td>
                        <td>{{ transaction.PaymentSystem}}</td>
                        <td>{{ transaction.TransactionStatusStrDictionary}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


