@inherits Umbraco.Web.Mvc.UmbracoViewPage<TotalCode.Core.Models.Pages.BasePageViewModel>
@using Umbraco.Plugins.Connector.Models
@{

    TenantPreferences preferences = Model.Preferences;
    var defaultLanguage = Model.DefaultLanguage;
    var currentLanguage = Model.CurrentLanguage.TwoLetterISOLanguageName;
    var currentLanguageLocalization = Model.CurrentLanguage.ISOLanguangeName;
}

<div class="popup-default forgot-password default-offset zoom-anim-dialog" id="forgot-password">
    <div class="top-wrap--popup"><span class="custom-close">X</span></div>
    <h3 class="heading-popup">@Umbraco.GetDictionaryValue("[Forgot]ForgotPassword", "Forgot Password")</h3>
    <p>@Html.Raw(Umbraco.GetDictionaryValue("[Forgot]ForgotPasswordInstructions", "Enter either your email or mobile phone. <br/> If you enter an email, a reset link will be sent to your inbox. <br/> If you enter your mobile number, an SMS will be sent to your mobile device."))</p>
    <div class="height-36"></div>

    <form id="reset-password">
        @Html.AntiForgeryToken()
        <input type="hidden" name="tenantUid" value="@Model.TenantUid" />
        <input type="hidden" name="language" value="@currentLanguage" />
        <input type="hidden" name="requestUrl" value="@Request.Url.GetLeftPart(UriPartial.Authority)" />
        <div class="item--input-label">
            <div class="item--label">
                <label for="username-forgot-password">@Umbraco.GetDictionaryValue("[Register]Username", "Username")</label>
                <a class="popup" href="#name-email" rel="modal:open">@Umbraco.GetDictionaryValue("[Others]ForgotUsernameEmail", "Forgot Username")</a>
            </div>
            <div class="item--input">
                <input id="username-forgot-password" name="username" placeholder="@Umbraco.GetDictionaryValue("[Forgot]UsernamePlaceholder", "your username" )" class="validate-target" data-validate-expression="@preferences.Security.Username.Validation" data-validation-message="error-message-username-forgot-password" data-no-value="valid-error-username-forgot-password" min="@preferences.Email.MinValue" max="@preferences.Email.MaxValue" type="text">
                <span class="valid-error valid-error-username-forgot-password" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Username", "Username")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsMandatory", " is required")</span>
                <span class="error-message error-message-username-forgot-password" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Username", "Username")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsInvalid", " is invalid")</span>
            </div>
        </div>

        <div class="item--input-label">
            <div class="item--label">
                <label for="email-forgot-password">@Umbraco.GetDictionaryValue("[Register]Email", "Email")</label>
            </div>
            <div class="item--input">
                <input id="email-forgot-password" name="email" placeholder="@Umbraco.GetDictionaryValue("[Register]EmailPlaceholder", "johndoe@email.com")" class="validate-target" data-validate-expression="@preferences.Email.Validation" data-validation-message="error-message-email-forgot-password" data-no-value="valid-error-email-forgot-password" min="@preferences.Email.MinValue" max="@preferences.Email.MaxValue" type="text">
                <span class="valid-error valid-error-email-forgot-password" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Email", "Email")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsMandatory", " is required")</span>
                <span class="error-message error-message-email-forgot-password" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Email", "Email")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsInvalid", " is invalid")</span>
            </div>
        </div>

        <div class="item--input-label">
            <div class="item--label">
                <label for="phone-number-forgot-password">@Umbraco.GetDictionaryValue("[Register]PhoneNumber", "Mobile Number")</label>
            </div>
            <div class="item--input phone-checked">
                <div class="custom-select select-bold float">
                    <select class="select-phone select-black" name="countryCode">
                        <option disabled>xx</option>
                        @{
                            foreach (var countryCode in Model.PhoneCountryCodes)
                            {
                                <option value="@countryCode">@countryCode</option>
                            }
                        }
                    </select>
                </div>

                <input id="phone-number-forgot-password" placeholder="@Umbraco.GetDictionaryValue("[Register]PhoneNumberPlaceholder", "555-5555")" name="mobile" class="validate-target phone-number" data-validate-expression="@preferences.Mobile.Validation" data-validation-message="error-message-phone-number-forgot-password" data-no-value="valid-error-phone-number-forgot-password" min="@preferences.Mobile.MinValue" max="@preferences.Mobile.MaxValue" type="tel" pattern="@preferences.Mobile.Validation">
                <span class="valid-error valid-error-phone-number-forgot-password" style="display:none;">@Umbraco.GetDictionaryValue("[Register]PhoneNumber", "Phone Number")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsMandatory", " is required")</span>
                <span class="error-message error-message-phone-number-forgot-password" style="display:none;">@Umbraco.GetDictionaryValue("[Register]PhoneNumber", "Phone Number")&nbsp;@Umbraco.GetDictionaryValue("[Register]IncorrectOrInvalid", " is incorrect or invalid")</span>
            </div>
        </div>
        @*<div class="item--input-label">
                <div class="item--label">
                    <label for="enter-captcha-forgot-password">@Umbraco.GetDictionaryValue("[Forgot]EnterCaptcha", "Enter Captcha Code")</label>
                </div>
                <div class="captcha--wrapper">
                    <div class="items--captcha-popup">
                        <input class="validate-target input-black" type="text" id="enter-captcha-forgot-password" name="captcha" data-validate-expression="^[a-zA-Z0-9]{0,5}$" data-validation-message="error-message-captcha" data-no-value="valid-error-captcha">
                        <span class="valid-error valid-error-captcha" style="display:none;">@Umbraco.GetDictionaryValue("[Forgot]Captcha", "Captcha")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsMandatory", " is required")</span>
                        <span class="error-message error-message-captcha" style="display:none;">@Umbraco.GetDictionaryValue("[Forgot]Captcha", "Captcha")&nbsp;@Umbraco.GetDictionaryValue("[Register]IncorrectOrInvalid", " is incorrect or invalid")</span>
                    </div>
                    <div class="captcha-main"><img src="/media/img/captcha.jpg" alt=""></div>
                </div>
            </div>*@

        <div class="item--input-label">
            <a class="popup popup-button button validate" href="#" data-method="sendResetPassword" data-form="reset-password">@Umbraco.GetDictionaryValue("[Others]ResetPassword")</a>
        </div>
        @Html.Partial("_processing")
        @Html.Partial("_server-errors-display")
        <p class="popup-text--gray text-center">@Html.Raw(Umbraco.GetDictionaryValue("[Forgot]EnterEmailOrMobileToSendLink"))</p>
    </form>
</div>
<div class="popup-default registration-step default-offset zoom-anim-dialog" id="forgot-password-verify-sms">
    <div class="top-wrap--popup"><a class="link-back" href="#forgot-password"></a><span class="custom-close">X</span></div>
    <h3 class="heading-popup">
        @Umbraco.GetDictionaryValue("[Forgot]ChangePassword", "Change Password")
    </h3>
    <div class="height-36"></div>
    <form id="forgot-password-validate-mobile-and-change">
        @Html.AntiForgeryToken()
        <input type="hidden" name="tenantUid" value="@Model.TenantUid" />
        <input type="hidden" name="language" value="@currentLanguage" />
        <input type="hidden" name="mobile" value="" />
        <input type="hidden" name="username" value="" />
        <div class="step-popup registration-steps step2">
            <div class="item--input-label">
                <div class="item--label">
                    <label for="verification-code-forgot-password">@Umbraco.GetDictionaryValue("[Register]VerificationCode", "Verification Code")</label>
                </div>
                <div class="item--input">
                    <input id="verification-code-forgot-password" name="code" placeholder="@Umbraco.GetDictionaryValue("[Register]VerificationCodePlaceholder", "XXXXXX")" class="validate-target" data-validate-expression="^[0-9]{6}$" data-validation-message="error-message" data-no-value="valid-error" required type="number">
                    <span class="valid-error" style="display:none;">@Umbraco.GetDictionaryValue("[Register]VerificationCode", "Verification Code")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsMandatory", " is required")</span>
                    <span class="error-message" style="display:none;">@Umbraco.GetDictionaryValue("[Register]VerificationCodeInvalidOrExpired", "Verification code is invalid or expired")</span>
                </div>
            </div>
            <div class="item--input-label">
                <div class="item--label">
                    <label for="account-newpass-forgot-password">@Umbraco.GetDictionaryValue("[Forgot]NewPassword", "New Password")</label>
                </div>
                <div class="item--input">
                    <input id="account-newpass-forgot-password" name="password" type="password" required placeholder="@Umbraco.GetDictionaryValue("[Register]PasswordPlaceholder", "***********" )" class="validate-target" data-validate-expression="@preferences.Security.Password.Validation" data-validation-message="error-message-newpass" data-no-value="valid-error-newpass">
                    <span class="valid-error valid-error-newpass" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Password", "Password")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsMandatory", " is required")</span>
                    <span class="error-message error-message-newpass" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Password", "Password")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsInvalid", " is invalid")</span>
                </div>
            </div>
            <div class="item--input-label">
                <div class="item--label">
                    <label for="account-confirm-pass-forgot-password">@Umbraco.GetDictionaryValue("[Forgot]ConfirmNewPassword", "Confirm New Password")</label>
                </div>
                <div class="item--input">
                    <input id="account-confirm-pass-forgot-password" type="password" required placeholder="@Umbraco.GetDictionaryValue("[Register]PasswordPlaceholder", "***********" )" class="validate-target" data-validate-expression="" data-validation-message="error-message-confirm-newpass" data-no-value="valid-error-confirm-newpass">
                    <span class="valid-error valid-error-confirm-newpass" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Password", "Password")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsMandatory", " is required")</span>
                    <span class="error-message error-message-confirm-newpass" style="display:none;">@Umbraco.GetDictionaryValue("[Register]Password", "Password")&nbsp;@Umbraco.GetDictionaryValue("[Register]IsInvalid", " is invalid")</span>
                    <span class="password-nomatch" style="display:none;">@Umbraco.GetDictionaryValue("[Register]PasswordDoesNotMatch", "Passwords do not match")</span>
                </div>
            </div>
            <div class="item--input-label"><a class="popup popup-button button validate" href="#change-pass-successfully" data-method="changePassword" data-form="forgot-password-validate-mobile-and-change">@Umbraco.GetDictionaryValue("[Forgot]ChangePassword", "Change Password")</a></div>
            @Html.Partial("_processing")
            @Html.Partial("_server-errors-display")
            <p class="popup-text--gray text-center">
                @Umbraco.GetDictionaryValue("[Register]Enter6DigitVerificationCode", "Enter the 6-digit verification code sent to")<span class="mobile-holder"></span>
            </p>

            <div class="link--popup-default text-center">
                <a class="default-link resend-code" href="#">
                    @Umbraco.GetDictionaryValue("[Register]ResendCode", "Resend Code")
                </a>
                <div class="resend-time" style="display:none;">
                    @Umbraco.GetDictionaryValue("[Register]Wait", "wait")
                    <span class="wait-time"></span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="popup-default popup-send default-offset zoom-anim-dialog message-status" id="change-pass-successfully">
    <div class="top-wrap--popup"><span class="custom-close">X</span></div>
    <h3 class="heading-default text-center">
        @Html.Raw(Umbraco.GetDictionaryValue("[Forgot]ChangePasswordSuccess", "Your password has <br>been successfully changed"))
    </h3>
    <div class="wrap--send-button text-center"><a class="popup popup-button button" href="#popup-login" rel="modal:open">@Umbraco.GetDictionaryValue("[Others]GotIt", "Got It")</a></div>
</div>
<div class="popup-default verification-emeil--you default-offset zoom-anim-dialog" id="forgot-password-verification-emeil--you">
    <div class="top-wrap--popup"><span class="custom-close">X</span></div>
    <h3 class="heading-default text-center">
        @Umbraco.GetDictionaryValue("[Forgot]ForgotPasswordEmailSentToTitle", "Password reset link has been sent to your email")
    </h3>
    <p class="gray--text-info">
        @Umbraco.GetDictionaryValue("[Forgot]ForgotPasswordEmailSentTo", "We’ve sent an email to") <span class="email-holder"></span> @Umbraco.GetDictionaryValue("[Register]VerifyEmailSentToPleaseClick", "to verify your address. Please click the link in that email to continue.")
    </p>

    <div class="wrap--send-button text-center">
        <form id="resend-email-code-forgot-password">
            @Html.AntiForgeryToken()
            <input type="hidden" name="tenantUid" value="@Model.TenantUid" />
            <input type="hidden" name="language" value="@currentLanguage" />
            <input type="hidden" name="email" value="" />
            <input type="hidden" name="username" value="" />
            <input type="hidden" name="id" value="" />
            <input type="hidden" name="requestUrl" value="@Request.Url.GetLeftPart(UriPartial.Authority)" />
            <div class="wrap--send-button text-center">
                <a class="popup popup-button button" href="#" rel="modal:close">@Umbraco.GetDictionaryValue("[Others]Close", "Close")</a>
            </div>
            <br />
            <div class="wrap--send-button text-center">
                <a class="button" href="#" id="resend-button-reset-password">@Umbraco.GetDictionaryValue("[Forgot]ResendResetPasswordEmail", "Resend Reset Password Email")</a>
            </div>
            @Html.Partial("_processing")
            @Html.Partial("_server-errors-display")
            <div class="wrapper-popup--message text-center"><span class="message-verification" style="display:none;">@Umbraco.GetDictionaryValue("[Forgot]ResendResetPasswordEmailSent", "New password reset email has been sent")</span></div>
        </form>
    </div>
</div>
