@inherits Umbraco.Web.Mvc.UmbracoViewPage<TotalCode.Core.Models.Pages.GamePageViewModel>
@using Umbraco.Plugins.Connector
@{
    Layout = "totalCodeLayout.cshtml";
    ViewBag.Title = Umbraco.GetDictionaryValue("[Pages]CasinoPage", "Casino");
    var currency = Model.CustomerSummary != null ? Model.CustomerSummary.CurrencyCode : "EUR";
    var liveLogin = Model.CustomerSummary != null ? "true" : "false";
}
@if (string.IsNullOrEmpty(Model.GameUrl))
{
    @section Scripts{
        <script type="text/javascript" src="~/scripts/owl.carousel.min.js"></script>
        <script type="text/javascript">
            var isMobile = @Model.IsMobileBrowser.ToString().ToLower();
        </script>
    }
    @section AdditionalHeaders{

    }
    <section class="landing" ng-controller="GameGridController as vm" ng-init="vm.init('@Model.Category','@Model.TenantUid')">
        <div class="wrapper-landing">
            @if (Model.Slider.Any())
            {
                <div class="top-slider">
                    <div class="owl-carousel slider-big">
                        @foreach (var slider in Model.Slider)
                        {
                            <div class="item">
                                <div class="items-text">
                                    @if (!string.IsNullOrEmpty(slider.ButtonLabel))
                                    {
                                        <a class="button-land" href="@slider.Url">@slider.ButtonLabel</a>
                                    }
                                    <p>@Html.Raw(slider.Title)</p>
                                    <p class="texts-gray">@Html.Raw(slider.Subtitle)</p>
                                </div><a class="items-cont" href="@slider.Url">
                                    <div class="img-container"><img src="@slider.Image" alt="@slider.ButtonLabel"></div>
                                </a>
                            </div>
                        }
                    </div>
                    @*<p class="terms-text">@Umbraco.GetDictionaryValue("[Home]TermsApply", "Terms Apply:  18+")</p>*@
                </div>
            }
            @Html.Partial("_gameGrid-subcategories")
            @Html.Partial("_gameGrid-providers")
            @Html.Partial("_gameGrid-search")
            @Html.Partial("_gameGrid")
        </div>
    </section>
}
else
{
    if (Model.HasDemoMode)
    {

    }
    else
    {
        @section AdditionalHeaders{
            <style>
                footer, header {
                    display: none;
                }
            </style>
        }
        @section Scripts{
            <script type="text/javascript">
            $(function () {

                var username = Cookies.get('username');
                var token = Cookies.get('token');
                var liveLogin = @liveLogin;
                var iframeWindow = document.getElementById('game-iframe');
                if (username !== undefined && liveLogin) {
                    $('#game-iframe').ready(function () {
                        setTimeout(function () {
                            iframeWindow.contentWindow.postMessage({ "method": "login", "payload": { "token": token, "currency": '@currency', "odds": "Decimal", "language": "@Model.CurrentLanguage.TwoLetterISOLanguageName" } }, '*');
                        }, 5 * 1000);
                    });

                }
                else {
                        iframeWindow.contentWindow.postMessage({ "method": "logout", "payload": username }, '*');

                }

                window.onmessage = (event) => {
                    if (event.data && event.data.method) {
                        if (event.data.method === 'authentication') {
                            try {
                                iframeWindow.contentWindow.postMessage({ "method": "login", "payload": { "token": token, "currency": '@currency', "odds": "Decimal", "language" : "@Model.CurrentLanguage.TwoLetterISOLanguageName" } }, '*');
                            } catch (e) {
                                alert('@Umbraco.GetDictionaryValue("[IFrameErrors]ErrorLogginIn", "Error while logging in, please refresh the page!")');
                                //console.log(e);
                            }
                        }
                    }
                };

            // TODO: resize body to hide scroll
            });
            </script>
        }
        <div class="transparent-iframe fullscreen-iframe">
            <iframe src="@Model.GameUrl/?id=@Model.TenantUid&langId=@Model.CurrentLanguage.TwoLetterISOLanguageName" id="game-iframe" frameborder="0" allowfullscreen></iframe>
        </div>
    }
}